@font-face {
    font-family: 'YuseiMagic-Regular';
    src: url('YuseiMagic-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#7b84d1;
}

button {
    background-color: transparent;
    border:none;
    outline:none;
    border-radius:20%;
    transition-duration: 0.4s;
}

.tile {
    border-style:none;
    background-color: #d3d6f2;
    border-radius:1%;
}

/*--TITLE/HEADER--*/
#title {
    text-align:center;
    color:#d3d6f2;
    text-shadow:2px 2px black;
    height:7vh;
    margin:0;
    font-family: 'YuseiMagic-Regular';
}

/*--BODY--*/
@media (orientation:landscape) {
    #container {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }
    #editor {
        width: 47vw;
        height:83vh;
    }
    #preview {
        width: 47vw;
        height:83vh;
    }
}

@media (orientation:portrait) {
    #container {
        display:flex;
        flex-direction:column;
    }
    #editor {
        width: 90vw;
        height:38vh;
        margin:0 auto;
    }
    #preview {
        width: 90vw;
        height:38vh;
        margin:0 auto;
        margin-top:2vh;
    }
}

#container {
    z-index:0;
}

#editor {
    overflow:scroll;
    overflow-x:hidden;
}

#preview {
    overflow:scroll;
    padding-left:10px;
    overflow-x:hidden;
}

.tile-title {
    font-family: 'YuseiMagic-Regular';
    font-size:20px;
    padding:0;
    margin:0;
    text-align:center;
}

#editor-container {
    height:100%;
    width:100%;
    display:flex;
}

#gutter {
    width:4%;
    height:97%;
    display:flex;
    flex-direction:column;
}

.gutter-number {
    height:auto;
    font-family: 'YuseiMagic-Regular';
    text-align:center;
    color:grey;
}

#editor-textarea {
    width: 94%;
    box-sizing: border-box;
    background-color:white;
    border:none;
    outline:0;
    resize:none;
    overflow-y:visible;
    overflow-x:scroll;
}

#highlighter {
    background-color:#7b84d1;
    opacity:0.5;
    position:absolute;
    width:94%;
}

/* Hide scrollbar for Chrome, Safari and Opera */

#editor-textarea::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
#editor-textarea {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}





/*--SETTINGS BOX--*/

#settings-box {
    height:40vh;
    width: 350px;
    position:fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:1;
    background-color:#d3d6f2;
    border-style:solid;
    border-color: #7b84d1;
    border-width:10px;
    border-radius:4%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#setting-title {
    text-align:center;
    margin:0 auto;
    font-family: 'YuseiMagic-Regular';
}

#exit-btn {
    position:absolute;
    top:5px;
    right:5px;
    color:darkgrey;
    font-size:20px;
}


/*--FOOTER--*/
footer {
    width:100vw;
    height:7vh;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#131a59;
    box-shadow: 3px 3px 50px 10px #7b84d1 inset;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

.footer-icon {
    color: #d3d6f2;
    font-size: 5vh;
}